[submodule "gccoding.wiki"]
	path = gccoding.wiki
	url = git@github.com:khajavi/gccoding.wiki.git
[submodule "C++/Boost/unit_testing/test"]
	path = C++/Boost/unit_testing/test
	url = git@github.com:jsankey/boost.test-examples.git
